.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}

input.form-control {
  border-radius: 6px;
}

button.btn {
  border-radius: 6px;
  margin: 6px;
}

a.btn {
  border-radius: 6px;
  margin: 6px;
}

#top .social a {
  margin: 0 5px;
}

#top .col-xs-5 {
  padding-top: 5px;
}

#top .col-xs-5 a {
  padding: 0 5px;
}

.navbar-nav>li>.dropdown-menu {
  border-radius: 0 0 6px 6px;
}

#copyright {
  font-size: unset;
  padding: 15px 0;
}
