.panel {
    border-radius: var(--radius);
    border: 2px solid #ddd;
}

.panel .panel-heading {
    border-radius: var(--radius) var(--radius) 0 0;
}

@media (min-width: 768px) {
    #admin .col-sm-1.mysidebar {
        width: unset;
    }
}