:root {
  --radius: 6px;
}

#all {
  background-color: #f2f2f2;
}

.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}

input.form-control {
  border-radius: var(--radius);
}

button.btn {
  border-radius: var(--radius);
  margin: 6px;
}

.btn-group a.btn {
  margin: unset;
}

a.btn {
  border-radius: var(--radius);
  margin: 6px;
}

.input-group button.btn {
  height: 34px;
  border-radius: 0 var(--radius) var(--radius) 0;
  margin: 0;
}

#price-model .input-group button.btn {
  border-radius: var(--radius) 0 0 var(--radius);
}

#top {
  background-color: unset;
  color: unset;
}

#top .social a {
  margin: 0 5px;
}

#top .social a:hover {
  color: #555;
  background-color: #dedede;
}

#top .col-xs-5 {
  padding-top: 5px;
}

#top .col-xs-5 a {
  padding: 0 5px;
}

#catalog-icon {
  font-size: 24px;
  margin-left: 12px;
  margin-right: 4px;
  margin-top: 20px;
}

.collapsing #catalog-link {
  display: none;
}

.in #catalog-link {
  display: none;
}

.navbar-nav>li>.dropdown-menu {
  border-radius: 0 0 var(--radius) var(--radius);
}

.navbar ul.nav>li>a {
  text-decoration: none;
  font-weight: unset;
}

#copyright {
  font-size: unset;
  padding: 15px 0;
}

.box-image-text {
  height: 400px;
}

.box-image-text .content p.read-more {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  padding-top: 10px;
  margin-bottom: 0;
  transform: translateX(-50%);
  backdrop-filter: blur(20px);
}

p.lead {
  text-align: justify;
}

.box-image-text.blog .intro {
  text-align: justify;
}

.testimonials .item .testimonial .text {
  text-align: justify;
}

.pager li>a,
.pager li>span {
  border-radius: var(--radius)
}

.testimonials .owl-carousel .owl-item {
  height: 340px;
}

.testimonials .item {
  border-radius: var(--radius);
}

.testimonials .item .testimonial .name-picture {
  width: 85%;
  position: absolute;
}

.testimonials .item .testimonial .bottom .icon {
  font-size: 25px;
}

.testimonials .item .testimonial .name-picture img {
  margin-right: -5px;
}

.owl-theme .owl-controls.clickable {
  margin-top: 30px;
}

.customers {
  padding: 0;
  margin-bottom: 20px;
}

.bar {
  padding-bottom: 45px;
}

#commodities {
  padding-bottom: 15px;
}

.commodity {
  margin: 10px 0;
  /* border: #ccc 1.5px solid; */
  border-radius: var(--radius);
  background-color: white;
}

.commodity .image {
  border-radius: var(--radius);
  min-width: 100%;
  min-height: 160px;
  background-color: #dedede;
  /* border-bottom: #333 1px solid; */
  overflow: clip;
}

.commodity .image img {
  min-width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.commodity .image img:hover {
  transform: scale(1.1);
}

.commodity .text {
  padding: 10px;
}

.commodity h4 a {
  color: #000;
}

.commodity h4 a:hover {
  color: var(--link-hover-bg);
}

.commodity #price {
  color: red;
}

.commodity #price .price-symbol {
  font-size: 14px;
}

.panel.sidebar-menu {
  background-color: unset;
  border: none;
  border-right: #ddd 1px solid;
  border-radius: 0;
}

.modal-header {
  border-radius: var(--radius) var(--radius) 0 0;
}

th {
  text-align: center;
}

@media (min-width: 768px) {
  .col-sm-1.mysidebar {
    width: unset;
  }
}

#blog-listing-medium section.post .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 20px 0;
  margin-bottom: 30px;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;
}

/* #blog-listing-medium section.post:nth-child(2n) .row{
  flex-direction: row-reverse;
} */

#blog-listing-medium section.post .row p {
  text-align: justify;
}

#blog-listing-medium section.post .row .read-more {
  position: absolute;
  width: 100%;
  /* bottom: 0; */
  right: 12px;
  text-align: end;
  padding-top: 10px;
  margin-bottom: 0;
  /* backdrop-filter: blur(20px); */
}

#blog-listing-medium section.post .row .btn {
  border-radius: 12px;
  border-width: 2px;
}

#blog-listing-medium .post h2 {
  font-size: 30px;
  letter-spacing: 0.02em;
}

#blog-listing-medium .post .row {
  position: relative;
  padding: 0!important;
  margin: 15px!important;
}

section.post {
  position: relative;
  height: 500px;
  padding: 0;
  /* margin: 0!important; */
}

#blog-listing-medium {
  padding: 0;
  margin: 0;
}

.banner-bg {
  /* position: absolute; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  position: relative;
  border-radius: 24px;
  box-shadow: #888 0px 0px 5px 0px;
}

#blog-listing-medium section.post .row:hover {
  box-shadow: #888 0px 0px 10px 0px;
}

.banner-bg .image {
  display: none;
}

.post:first-child .banner-bg {
  margin-top: 0;
  background-image: url("/img/banners/1.jpg");
}

.post:nth-child(2) .banner-bg {
  margin-top: 0;
  background-image: url("/img/banners/2.jpg");
}

.post:nth-child(3) .banner-bg {
  margin-top: 0;
  background-image: url("/img/banners/3.jpg");
}

.post:nth-child(4) .banner-bg {
  margin-top: 0;
  background-image: url("/img/banners/4.png");
}

.banner-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  color:#333;
  background-color: rgba(235, 235, 235, 0.5);
  font-size: 16px;
  backdrop-filter: blur(4px);
  padding: 20px;
  padding-bottom: 80px;
  border-radius: 0 0 24px 24px;
}

.banner-text .date-comments a {
  color: #555!important;
}

.nav-seperator {
  margin: 0 5px;
}

.dropdown-menu {
  border-radius: var(--radius);
}

.sidebar.navbar-affixed-top {
  width: 25%;
  top: 80px;
  margin-top: 10px;
  box-shadow: none;
  z-index: 998;
  max-height: 660px;
  overflow: auto;
}

.img-thumbnail {
  max-height: 180px;
  min-width: 100px;
}

.sidebar .panel-heading {
  padding-left: 10px;
  padding-bottom: 6px;
}

.vertical-center {
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

#pimages img {
  border: 1px solid #ccc;
  border-radius: var(--radius);
}

select#status {
  border-radius: var(--radius);
}
