<div class="container" id="commodities">

    <div class="row">
        <div class="sidebar hidden-xs col-sm-3 col-md-3 navbar-affixed-top affix-top" data-spy="affix" data-offset-top="180">
            <div class="widget">
                <ul class="nav nav-pills nav-stacked">
                    {{ $products := (index .Site.Menus.main 1) }}
                    {{ range $products.Children.ByWeight }}
                    {{ if eq .URL "/products/" }}
                    <div class="panel-heading">
                        <h5 class="nav-seperator">{{ .Name }}</h5>
                    </div>
                    {{ range .Children.ByWeight }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                    {{ else }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
            <!-- /.widget -->
        </div>
        <div class="col-sm-9 col-md-9">

            <section>

                {{ .Content }}

                <div class="heading">
                    <h3>{{ i18n "productList" }}</h3>
                </div>

                <div class="content">
                    <div class="row commodities">
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                            <div class="commodity placeholder">
                                <div class="image">
                                    <a href="details?id=">
                                        <img src="" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <!-- /.image -->
                                <div class="text">
                                    <h4><a href="details?id=">&nbsp;</a></h4>
                                    <h4 class="price" id="price"><span class="price-symbol">$</span></h4>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.commodity -->
                        </div>
                        <!-- /.col-md-3 -->

                    </div>
                    <!-- /.commodities -->
                </div>
            </section>

        </div>

    </div>
    <!-- /.row -->
</div>
