{{ template "_internal/google_analytics.html" . }}
<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
{{/*
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script> */}}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0/jquery.counterup.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax.js"></script>
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
{{ if and .Site.Params.enableGoogleMaps .Site.Params.googleMapsApiKey }}
<script src="//maps.googleapis.com/maps/api/js?key={{.Site.Params.googleMapsApiKey}}&v=3.exp"></script>
<script src="{{ "js/hpneo.gmaps.js" | relURL }}"></script>
<script src="{{ "js/gmaps.init.js" | relURL }}"></script>
{{ end }}
{{ if and .Site.Params.enableRecaptchaInContactForm .Site.Params.googleRecaptchaKey }}
<script src="//www.google.com/recaptcha/api.js" async defer></script>
{{ end }}
<script src="{{ "js/front.js" | relURL }}"></script>

<!-- owl carousel -->
<script src="{{ "js/owl.carousel.min.js" | relURL }}"></script>

<!-- js in products page -->
{{ if eq .Params.id "products" }}
<script src="{{ "js/products.js" | relURL }}" type="module"></script>
{{ end }}

{{ if eq .Params.id "details" }}
<script src="{{ "js/details.js" | relURL }}" type="module"></script>
{{ end }}

{{ if eq .Params.id "login" }}
<script src="{{ "js/login.js" | relURL }}" type="module"></script>
{{ end }}

{{ if eq .Params.id "signup" }}
<script src="{{ "js/signup.js" | relURL }}" type="module"></script>
{{ end }}

{{ if eq .Params.id "catalog" }}
<script src="{{ "js/catalog.js" | relURL }}" type="module"></script>
{{ end }}

{{ if isset .Params "js" }}
<script src="{{ .Params.js | relURL }}" type="module"></script>
{{ end }}

{{ if .Site.Params.enableDropdownFix }}
<script>
    $(document).ready(function () {
        $('.navbar .dropdown').hover(function () {
            $(this).addClass("open");
            $(this).find('.dropdown-menu').first().stop(true, true).slideDown(300, "swing");
            $(this).find('a.dropdown-toggle').attr("aria-expanded", "true");
        }, function () {
            $(this).find('.dropdown-menu').first().stop(true, true).slideUp(500, "swing", function () {
                $(this).parent().removeClass("open");
            });
            $(this).removeClass("open");
            $(this).find('a.dropdown-toggle').attr("aria-expanded", "false");
        });

        $('.navbar .dropdown > a').click(function () {
            // remove other click event listeners
            $('.navbar .dropdown > a').off('click.dropdown');
            location.href = this.href;
        });
    });
</script>
{{ end }}